

@import url("font.css");

* { margin: 0; padding: 0; box-sizing: border-box; } 
html,body,ul,li, div, p, h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0;  }

i { font-style: normal; } 
a { text-decoration: none; color: inherit; } 
ul, ol { list-style: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
img { max-width: 100%; height: auto; } 
button { cursor: pointer; font-family: inherit; font-weight: 600; } 
input, textarea { font-family: inherit; font-size: inherit; font-weight: 600; border: 1px solid #ccc; padding: 0.5em; } 
html { width: 100%; height: 100%; } 
body { width: 100%; height: 100%; background-color: #000; font-family: "Noto Sans KR", sans-serif; } 





/* css 변수 ============================================================ */
/* css 변수 ============================================================ */
/* css 변수 ============================================================ */
:root {
    /* 오리지널 디자인 색상 */

    
    /* ========== 다크모드 색상 ============= */
    --bg-color-dark: #1c1c1c;
    --text-color-dark: #e0e0e0;
    --button-bg-dark: #1f1f1f;
    --button-text-dark: #e0e0e0;
    --input-bg-dark: #1f1f1f;
    --input-border-dark: #333;
    --modal-bg-dark: #1e1e1e;
    --item-bg-dark:#292929;
    --item-shadow-dark:rgba(255, 255, 255, 0.2);
}


/* ========== 다크모드 색상 ============= */
body.dark-mode {
    background-color: var(--bg-color-dark);
    
}

/* 세대별 메뉴 */
body.dark-mode .gen_menu_wrap button{  background-color: #333638;}
body.dark-mode .gen_menu_wrap button:hover{  background-color: #4d5051;}



body.dark-mode .modal_inner {
    background-color: #fff;
}
body.dark-mode .list_wrap .item_box{ background-color: var(--item-bg-dark); box-shadow: var(--item-shadow-dark); }

body.dark-mode .list_wrap .item_box .m_name{  color: var(--text-color-dark); }
body.dark-mode .list_wrap .item_box:hover {  background-color: #fff; }
body.dark-mode .list_wrap .item_box:hover .m_name{  color: var(--bg-color-dark); }



/* css 변수 ============================================================ */
/* css 변수 ============================================================ */
/* css 변수 ============================================================ */







html,
body{ width: 100%; height: 100%;} 

html{}
body{ position: relative; background-color: #f5f5fa; }

a{color: #333; text-decoration: none;}
:focus {
    outline: none;
}
input[type='text'],  input[type='password'],  select,  textarea{        
    vertical-align: middle;
    background-color: #fff;  
    border: 1px solid #707078;
    /* box-shadow: 0px 0px 0 1px #707078; */
    border-radius: 4px;    
    transition: all .3s ease-in-out;
    height: 32px;
    padding: 4px 12px;    
    font-size: 14px;
    color: #333;
    font-family: "Noto Sans KR", sans-serif; 
}
input[type='text']:focus, input[type='password']:focus, select:focus, textarea:focus {
     border-color: transparent;
     box-shadow: 0px 0px 0 2px #4d90fe;
}

button{        
    opacity: 0.8;
    vertical-align: middle;    
    min-height: 32px;
    padding: 3px 10px;
    cursor: pointer;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    font-size: 1rem;
    border-radius: 4px;
    transition: all .15s ease-in-out;
    color: #fff;
    font-family: "Noto Sans KR", sans-serif; 
}
button:hover{
    opacity: 1;
}

.wrapper{}
.container{ max-width: 1400px; margin: 0 auto;}



header{ position: relative; display: flex; justify-content: center; padding: 20px;}
header .logo{ }
header .logo img{ width: 220px; }

/* 다크모드 버튼 */
header .mode{ position: absolute; top: 35px; right:40px}
header .mode button{ display: block; width: 50px; height: 50px; border-radius: 50px; background-color: #7d7d7d; border: none;transition: all 0.3s;}
header .mode button:hover{ background-color: #222;}
header .mode button::before{ content: '\ef75'; display: block; width: 100%; height: 100%; font-family: "remixicon"; font-size: 1.7rem; display: flex;justify-content: center; align-items: center; }
header .mode button:hover::before{ content: '\ef72'; color: #FFCE31; }
body.dark-mode header .mode button:hover{ background-color: #000000;}
body.dark-mode header .mode button::before{ content: '\f1bf'; }
body.dark-mode header .mode button:hover::before{ content: '\f1bc'; }
@media screen and (max-width: 580px){
    
}
@media screen and (max-width: 460px){   
    header{  padding: 20px 10px 10px;}
    header .logo{ }
    header .logo img{ width: 130px; }

    header .mode{ top: 25px; right:15px}
    header .mode button{ width: 36px; height: 36px; }
    header .mode button::before{  font-size: 1.4rem; }

}




.top_tools{ }

/* 세대별 메뉴 */
.gen_menu_wrap{ display: flex; justify-content: center;}
.gen_menu_wrap button{ flex-shrink: 0; margin:  0 5px; padding: 5px 20px; border-radius: 20px; border: none; font-size: 1.1rem; opacity: 1; background-color: #b8bbbc;}
.gen_menu_wrap button:hover{  background-color: #808789;}
.gen_menu_wrap button.on{ background-color: #FFCE31 !important; color:#333099; border:4px solid #333099; box-shadow:-2px 4px 0px #171a3b ;}

/* 검색 */
.search_wrap{ margin-top: 20px; display: flex; justify-content: center;}
.mon_search{ display: flex; align-items: center; max-width: 300px; padding: 10px 13px; border-radius: 30px; background-color: #FFCE31; border:4px solid #333099; box-shadow:-2px 4px 0px #171a3b ; }
.mon_search input{ flex: 1; min-width: 0; border-radius: 20px; border: none; text-align: center; height: 38px; font-size: 1.4rem; background-color: #fff;}
.mon_search .sch_btn{ font-size: 1.1rem; font-weight: 700; background-color: transparent; border: none; color: #333099;}


@media screen and (max-width: 960px){
    .top_tools{  display: block;}
    .gen_menu_wrap{ justify-content: flex-start; overflow-x: auto; padding: 0 20px 10px;}
}
@media screen and (max-width: 460px){    
    .gen_menu_wrap button{ font-size: 0.8rem; padding: 5px 10px; margin: 0 3px;}

    .search_wrap{ margin-top: 10px; display: flex; justify-content: center;}
    .mon_search{ max-width: 80%; padding: 6px 10px;  }
    .mon_search input{ height: 30px; font-size: 1.2rem; }
    .mon_search .sch_btn{ font-size: 1.1rem; font-weight: 700; background-color: transparent; border: none; color: #333099;}

}



.mon_main{ position: relative;}



.list_wrap{ display: flex; flex-wrap: wrap; align-items: flex-start; align-content: flex-start;  padding: 40px; min-height: 500px; }
.list_wrap .item_box{  width: calc((100% - 90px) / 10); margin-right: 10px; margin-bottom: 10px; padding-top: 20px; height: auto;  overflow: hidden; cursor: pointer; background-color: #fff; border-radius: 16px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.2); transition: all 0.08s ease-in-out;}
.list_wrap .item_box:hover{ transform: scale(1.18);
    background-color: #000; color: #fff;
}
.list_wrap .item_box:hover .m_name{ color: #fff;}
.list_wrap .item_box:nth-of-type(10n){ margin-right: 0;}
.list_wrap .item_box .m_name{ text-align: center; font-size: 1.2rem; letter-spacing: -0.05em; font-weight: bold; color: #444;}   
.list_wrap .item_box .m_id{ text-align: center; font-size: 0.8rem; color: #aaa;}  
.list_wrap .item_box .m_img{ text-align: center;}  
.list_wrap .item_box .m_img img{ width: 80%; }  

@media screen and (max-width: 1500px){
    .list_wrap .item_box{  width: calc((100% - 50px) / 6);}
    .list_wrap .item_box:nth-of-type(10n){ margin-right: 10px;}
    .list_wrap .item_box:nth-of-type(6n){ margin-right: 0;}
}

@media screen and (max-width: 960px){
    
    .list_wrap .item_box{  width: calc((100% - 30px) / 4);}
    .list_wrap .item_box:nth-of-type(10n){ margin-right: 10px;}
    .list_wrap .item_box:nth-of-type(6n){ margin-right: 10px;}    
    .list_wrap .item_box:nth-of-type(4n){ margin-right: 0;}    

}
@media screen and (max-width: 580px){
    .list_wrap{ padding: 40px 20px; min-height: 500px; }
    .list_wrap .item_box{  width: calc((100% - 10px) / 2);}
    .list_wrap .item_box:nth-of-type(10n){ margin-right: 10px;}
    .list_wrap .item_box:nth-of-type(6n){ margin-right: 10px;}    
    .list_wrap .item_box:nth-of-type(4n){ margin-right: 10px;}      
    .list_wrap .item_box:nth-of-type(2n){ margin-right: 0px;}      

}

/*  ======================== modal =========================  */
.modal_bg_wrap{  display: none;/* display: flex; */ justify-content: center; align-items: center; position: fixed; z-index: 100; top: 0px; right: 0px; left: 0px; bottom: 0px; background-color: rgba(0, 0, 0, 0.8); }
.modal_inner{ position: relative;  width: 800px; min-height: 320px;  background-color: #fff;  border-radius: 14px; box-shadow: 0 0 6px rgba(0, 0, 0, 0.5); padding: 40px;}
.modal_cnt{ position: relative; padding-left: 340px;}
.modal_inner .m_name{ }
.modal_inner .m_num{ }
.modal_inner .m_img{  position: absolute; left: -170px; top: -100px; }
/* .modal_inner .m_img img{ width: 400px;} */
.modal_inner .m_summary{ margin-top: 15px; font-size: 1.4rem;}
.modal_inner .m_ability{ }
.modal_inner .m_types{ }
.modal_inner .m_height{ }
.modal_inner .m_weight{ }
.modal_inner .detail_view{ margin-top: 20px;}
/* modal_close */
.modal_inner .close_modal{ position: absolute; z-index: 200; top: 0; right: 0; }


/* fixed - modal active */
body.fixed{ overflow: hidden;}
body.fixed .modal_bg_wrap{ display: flex; }

@media screen and (max-width: 960px){
    .modal_cnt{ padding-left: 0px;}
    .modal_inner .m_name{ text-align: center; }
    .modal_inner .m_num{ text-align: center;}
    .modal_inner .m_img{  position: static; text-align: center; }
    body.fixed .modal_inner{ width: 90%; }
}




/*  ======================== loading_spinner =========================  */
/* loading_spinner */
.loading_spinner{ display: none; justify-content: center; align-items: center;  position: absolute; z-index: 100; top: 0; left: 0; right: 0; bottom: 0; }
.loading_spinner::after{ content: ''; display: block; width: 200px; height: 200px; border-radius: 100%;  background-image: url(../images/ball2.png); background-repeat: no-repeat; background-position: center center; background-size: 60%; background-color: #fff; animation: rotateAni 0.3s ease-in-out infinite;}
.loading_spinner.on{ display: flex; }
@keyframes rotateAni{
    0%{ transform: rotate(0deg);}    
    100%{ transform: rotate(360deg);}        
}
@media screen and (max-width: 960px){
    .loading_spinner::after{ width: 80px; height: 80px; }
}



/* =============== detail container =========================== */
.detail_container{ position: relative; text-align: center;}
.detail_container .top_btn{ position: absolute; top: 55px; left: 50%; width: 60%; transform: translateX(-50%); padding: 0 40px;  display: flex; justify-content: space-between;}
.detail_container .top_btn .home_btn{ position: absolute; padding: 10px; font-size: 2rem; color: rgba(0, 0, 0, 0.5); background-color: transparent; border: none;}
.detail_container .detail_top{ padding: 40px; height: 700px;}
.detail_container .detail_body{ padding: 40px;}


/* ----------------- */
.detail_container .m_name{ font-size: 3rem; }
.detail_container .m_num{ font-size: 1.2rem; color: rgba(255, 255, 255, 0.5); font-weight: bold;}
.detail_container .m_img{ padding: 0 20%; height: 475px;}
.detail_container .m_summary{ font-size: 1.5rem;}
/* prev next btn */
.detail_container .prev_next{ position: absolute; top: 300px; left: 50%; width: 60%; transform: translateX(-50%); padding: 0 20px;  display: flex; justify-content: space-between;}
.detail_container .prev_next button{  width: 100px; height: 100px; border-radius: 50%; font-size: 4rem; background-color: transparent; border: none;}
.detail_container .prev_next button:hover{ background-color: rgba(255, 255, 255, 0.2);}
.detail_container .prev_next button.prev_btn{}
.detail_container .prev_next button.next_btn{}






@media screen and (max-width:1200px){
    .detail_container .prev_next{  width: 100%; }

    .detail_container .top_btn{ width: 100%;}

}
@media screen and (max-width:840px){
    .detail_container .detail_top{ padding: 15px; height: auto;}
    .detail_container .m_name{ font-size: 1.8rem;}
    .detail_container .m_img{ height: auto;}
    .detail_container .m_summary{ font-size: 1.2rem;}
    .detail_container .prev_next{ width: 100%;  top: 25%; }
    .detail_container .prev_next button{  width: 3rem; height: 3rem; padding: 0 10px; font-size: 1.5rem; }
    .detail_container .prev_next button.prev_btn{ margin-left: -20px;}
    .detail_container .prev_next button.next_btn{ margin-right: -20px;}

    .detail_container .top_btn{ width: 100%; top: 15px; padding:0 20px;}
    .detail_container .top_btn .home_btn { padding: 5px;  font-size: 1.3rem; }
}
@media screen and (max-width:640px){
    .detail_container .m_img{ padding: 0 8%;}
}
